## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
#  - osx
julia:
  - 0.7
  - nightly
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
#matrix:
#  allow_failures:
#  - julia: nightly

before_install:
  - sudo apt-get install -y joe xdg-utils
  - mkdir -p ~/.config
  ## lines below commented out because xdg-open uses the browser fallback
  # - export EDITOR=jmacs
  # - export DISPLAY="dummy"      # trick xdg-open to assuming a display
  # - xdg-mime default jmacs.desktop text/plain
  - export BROWSER="jmacs"      # trick xdg-open to use jmacs as the browser (fallback, this is the one actually used)

script:
 - julia test_script.jl
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("DefaultApplication")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("DefaultApplication")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
